datasetsforecast==0.0.8
fugue==0.9.0
Jinja2==3.1.2
kaleido==0.2.1
lightgbm==4.1.0
matplotlib==3.7.0
missingno==0.5.2
mlflow-skinny==2.9.2
neuralforecast==1.7.2
numpy==1.23.5
omegaconf==2.3.0
pandas==1.5.3
plotly==5.9.0
pyarrow==8.0.0
pyarrow-hotfix==0.5
pyspark==3.5.0
scikit-learn==1.1.1
scipy==1.10.0
seaborn==0.12.2
sktime==0.29.0
statsforecast==1.7.4
tbats==1.1.3